# Cats

## Imports

In [1]:
import requests as req
import pandas as pd

## Data sourcing

In [6]:
url = "https://www.battersea.org.uk/api/animals/cats"

In [7]:
res = req.get(url)

In [11]:
data = res.json()

In [15]:
cats = pd.DataFrame(data["animals"])

In [16]:
cats.sample()

,title,field_animal_thumbnail,field_animal_age,field_animal_centre,nid,field_animal_date_published,field_animal_size,field_animal_breed,field_animal_sex,field_animal_child_suitability,field_animal_cat_suitability,field_animal_dog_suitability,path,field_animal_reserved,field_animal_rehomed,flagged,sort
51,TEDDY,https://www.battersea.org.uk/sites/default/fil...,2020-03-01,battersea,7315661,2022-05-08,medium,domestic short-hair,Male,C - Can live with 13-16,B - Not To Live With,B - Prefer To Live Alone,/cats/teddy,Reserved,,0,1

## Export

In [17]:
cats.to_csv("./output/cats.csv", index=False)